* {
    box-sizing: border-box;
}


.main-container {


    width: 90%;
    height: 100vh;
    margin: 0px auto;

    
}


header {

    height: 100px;
    margin-bottom: 20px;
    
}

h1,
h2 {
    text-align: center;
    
}
    
    

h1 {

    padding-top: 50px;
    font-size: 70px;
    font-family: 'freestyle script';
}

h2 {

    font-family:  'freestyle script';
    font-size: 50px; 
}



nav {

    background-color: var(--header-bg-color);
    height: 100px;


}

#main-nav {

    display: flex; 
    justify-content: center;
    
    

}



#main-nav ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-top: 25px;
    
    
}


#main-nav a {
    display: block;
    text-decoration: none;
    padding: 15px 20px;
    color: var(--main-color);
    font-size: 20px; 
    font-family: 'Franklin Gothic extra compressed', 'Arial Narrow', Arial, sans-serif ;
    min-width: 125px;  
    text-align: center;
    margin: 0px 50px;
    
}

#main-nav a:hover {

    color: var(--main-color);
    border-bottom: 2px solid rgb(119, 4, 4);

}

#main-nav li a.active {

    color: var(--main-color);
    border-bottom: 2px solid rgb(119, 4, 4);
}

main {
    background-color: var(--main-color);
    margin-top: 20px;
    height: 800px;
}

footer {
    background-color: var(--header-bg-color);
    height: 200px;
    padding: 35px;
    text-align: center;
    color: var(--main-color);
   
}




#footer-section {
    display: flex;
    justify-content: space-around;
   

}

footer p {
    text-align: left;
    font-family: 'Franklin Gothic extra compressed', 'Arial Narrow', Arial, sans-serif;
}