* {
    box-sizing: border-box;
}

header {
    height: 100px;
    margin-bottom: 20px;
}

/* Kista vinbar texten */
h1 {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-top: 50px; 
}

/* Navigerings menyn*/
nav {
    background-color: var(--header-bg-color);
    height: 100px;
}
/* Denna är till framför allt innehållet på sidan */
main { 
    background-color: beige;
    /* Höjden för innehållet på sidan som är i mellan navbar och footern */
    height: 2000px;  
}
/* Denna är till för länkarna i navbaren */
#main-nav {
    display: flex; 
    justify-content: center;
}

#main-nav ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-top: 25px; 
}

#main-nav a {
    display: block;
    text-decoration: none;
    padding: 15px 20px;
    color: var(--main-color);
    font-size: 20px; 
    min-width: 125px;  
    text-align: center;
    margin: 0px 50px; 
}

#main-nav a:hover {
    background-color: var(--link-color);
    color: var(--main-color);
}

#main-nav li a.active {
    background-color:var(--link-color);
    color:var(--main-color);
}

/* Denna är till textrutan på homepage sidan och 
som står brevid bilden: folk-tillsammans-med-charkbricka*/
#text-container {
    display: flex;
    justify-content: space-between;

    /* Behöver FIXA DENNA IMORGON!!!!!! */

}
/* är till <p> som är till textrutan */
.p-textruta {
    color: blue;
    border: 2px solid red;
    margin-right: 100px;
    border-radius: 10%;
    /* TEXTEN FÖRHÅLLER SIG INTE SÅ DEN GÅR UTANFÖR RAMEN */
}
/* 2:a imagebilden  */
#img-chark{
    border: 2px solid wheat;
    border-radius: 40%;
}

/* Designen och inställning av footer innehållet */
footer {
    background-color: var(--header-bg-color);
    height: 200px;
    padding: 45px;
    text-align: center;
    color: var(--main-color);
}

#footer-section {
    display: flex;
    justify-content: space-around;
}
/* Placering av Texten om Kontakt, Öppettider & Adress */
footer p {
    text-align: left;
}