* {
    box-sizing: border-box;
}

header {
    height: 100px;
    margin-bottom: 20px;
}

/* Kista vinbar texten */
h1 {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-top: 50px; 
}

/* Navigerings menyn*/
nav {
    background-color: var(--header-bg-color);
    height: 100px;
}
/* Denna är till framför allt innehållet på sidan */
main { 
    background-color: beige;
    height: 800px;
}
/* Denna är till för länkarna i navbaren */
#main-nav {
    display: flex; 
    justify-content: center;
}

#main-nav ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-top: 25px; 
}

#main-nav a {
    display: block;
    text-decoration: none;
    padding: 15px 20px;
    color: var(--main-color);
    font-size: 20px; 
    min-width: 125px;  
    text-align: center;
    margin: 0px 50px; 
}

#main-nav a:hover {
    background-color: var(--link-color);
    color: var(--main-color);
}

#main-nav li a.active {
    background-color:var(--link-color);
    color:var(--main-color);
}
/* Denna är till textrutan på homepage sidan och 
som står brevid bilden: folk-tillsammans-med-charkbricka*/
#text-container {
    border: 2px solid red;
}

/* Designen och inställning av footer innehållet */
footer {
    background-color: var(--header-bg-color);
    height: 200px;
    padding: 145px;
    text-align: center;
    color: var(--main-color);
}

#footer-section {
    display: flex;
    justify-content: space-around;
}
/* Placering av Texten om Kontakt, Öppettider & Adress */
footer p {
    text-align: left;
}