* {
    box-sizing: border-box;
}

body {

    background-color: var(--main-bg-color);
}
/** huvudkontainer */
.main-container {

    width: 90%;
    height: 100vh;
    margin: 0px auto;
    
}


header {
    height: 100px;
    margin-bottom: 30px;
    
}

h1,
h2 {
    text-align: center;
    
}
    
    

h1 {

    padding-top: 50px;
    font-size: 80px;
    font-family: 'kunstler script', 'great vibes', 'bradley hand itc', 'freestyle script', serif;
}

h2 {

    font-family: 'Franklin Gothic extra compressed', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px; 
}

/** Navbar */

nav {
    background-color: var(--header-bg-color);
    height: 100px;

}

#main-nav {
    display: flex; 
    justify-content: center;
    
}



#main-nav ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-top: 25px;
    
    
}


#main-nav a {
    display: block;
    text-decoration: none;
    padding: 15px 20px;
    color: var(--main-color);
    font-size: 20px; 
    font-family: 'Franklin Gothic extra compressed', 'Arial Narrow', Arial, sans-serif ;
    min-width: 125px;  
    text-align: center;
    margin: 0px 50px;
    
}

#main-nav a:hover {

    color: var(--main-color);
    border-bottom: 3px solid var(--link-color);

}

#main-nav li a.active {

    color: var(--main-color);
    border-bottom: 3px solid var(--link-color);
}

/** innehållet Matmeny */

main { 
    background-color: var(-main-bg-color);
    margin-top: 20px;
    height: 800px;
}

.content-matmeny {

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 20px;
    column-gap: 2%;

}

.box2,
.box4,
.box5, 
.box7 {
    border: 2px dotted #333;
    padding: 20px;
    border-radius: 20px;
    
}

.box3,
.box6 {
    
    padding: 20px;
    text-align: center;
    
}

.box3 img,
.box6 img {
    max-width: 350px;

}



main p {

    font-size: 20px;
    font-family: 'Franklin Gothic extra compressed', 'Arial Narrow', Arial, sans-serif;

}

.box1 {
    grid-column: 1 / 4;
}

.box2,
.box5 {

    grid-column: 1 / 2;
}

.box3,
.box6 {

    grid-column: 2 / 3;
    
}

.box4,
.box7 {

    grid-column: 3 / 4;
}



footer {
    background-color: var(--header-bg-color);
    height: 200px;
    padding: 35px;
    text-align: center;
    color: var(--main-color);
   
}




#footer-section {
    display: flex;
    justify-content: space-around;
   

}

footer p {
    text-align: left;
    font-family: 'Franklin Gothic extra compressed', 'Arial Narrow', Arial, sans-serif;
}

