:root {
    --header-bg-color: black;
    --main-bg-color: beige;
    --main-color: white;
<<<<<<< HEAD
    --link-color: rgb(119, 4, 4);
=======
    --link-color: darkgrey;
>>>>>>> om-oss.html-klar
}